<section class="products-index">

  <header class="page-header">
    <h1>Products</h1>
  </header>

  <div class="products">
  <%# <%= raise @products[0].inspect%> %>
    <%= render @products %>
  </div>

</section>
